#ob-bg-shape {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(70deg, #60EFFF, #0061FF);
  border-radius: 100px;
  transform: rotate(170deg);
  top: -50rem;
}

body {
  background-color: whitesmoke;
  color: whitesmoke;
}
